<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jqorz.common">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="com.datedu.launcher.provider.READ"
        android:protectionLevel="normal" />
    <permission
        android:name="com.datedu.launcher.provider.WRITE"
        android:protectionLevel="normal" />

    <application
        android:name="com.jqorz.common.TestApplication"
        android:icon="@mipmap/star"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.jqorz.common.sign.SignPadActivity" />

        <activity android:name="com.jqorz.common.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.jqorz.common.js.WebViewActivity" />

        <activity android:name="com.jqorz.common.multi_touch.MultiTouchActivity" />
        <activity android:name="com.jqorz.common.write.WriteActivity" />
        <activity android:name="com.jqorz.common.videoServer.VideoActivity" />
        <activity android:name="com.jqorz.common.click.ClickActivity" />
        <activity android:name="com.jqorz.common.servlet.ServletActivity" />
        <activity android:name="com.jqorz.common.finger.FingerPointPaint" />
        <activity android:name="com.jqorz.common.finger.FingerLinePaint" />
        <activity android:name="com.jqorz.common.anim.AnimActivity" />
        <activity android:name="com.jqorz.common.xwalk.AppTemplateActivity" />
        <activity android:name="com.jqorz.common.xwalk.XWalkActivity" />
        <activity android:name="com.jqorz.common.wifi.WifiConnectActivity" />
        <activity android:name="com.jqorz.common.videoview.VideoViewActivity" />
        <activity android:name="com.jqorz.common.videoview.SelectActivity" />
        <activity android:name="com.jqorz.common.videoview.WebViewPlayActivity" />
        <activity android:name="com.jqorz.common.webview.WebViewActivity" />
        <activity android:name="com.jqorz.common.broadcast.SendBroadActivity" />
        <activity android:name="com.jqorz.common.wifi.KtWifiInfoActivity" />
        <activity android:name="com.jqorz.common.gson.GsonTestActivity" />
        <activity android:name="com.jqorz.common.hfutwlan.HfutWlanMainActivity" />
        <activity android:name="com.jqorz.common.dashboard.DashActivity" />
        <activity
            android:name="com.jqorz.common.floatView.ControlActivity"
            android:theme="@style/NoAnim" />

        <receiver
            android:name="com.jqorz.common.broadcast.MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.jqorz.common.rotate.RotateActivity1"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jqorz.common.rotate.RotateActivity2"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity android:name="com.jqorz.common.popup.PopupActivity" />
        <activity android:name="com.jqorz.common.mac.MacActivity" />
        <activity android:name="com.jqorz.common.themeAttr.ThemeActivity" />
        <activity android:name="com.jqorz.common.aidl.AIDLActivity" />
        <activity android:name="com.jqorz.common.jni.JniActivity" />
        <activity android:name="com.jqorz.common.webview.WebView2Activity" />
        <activity android:name="com.jqorz.common.webview.WebView3Activity" />

        <provider
            android:name="com.jqorz.common.content_provider.UserInfoProvider"
            android:authorities="com.datedu.launcher.provider"
            android:exported="true"
            android:readPermission="com.datedu.launcher.provider.READ"
            android:writePermission="com.datedu.launcher.provider.WRITE" />
    </application>


</manifest>