<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jqorz.test">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.net.conn.CONNECTIVITY_CHANGE" />
    <uses-permission android:name="android.net.wifi.WIFI_STATE_CHANGED" />
    <uses-permission android:name="android.net.wifi.STATE_CHANGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="jqorz"/>

    <permission
        android:name="com.datedu.launcher.provider.READ"
        android:protectionLevel="normal" />
    <permission
        android:name="com.datedu.launcher.provider.WRITE"
        android:protectionLevel="normal" />

    <application
        android:name=".TestApplication"
        android:icon="@mipmap/star"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.jqorz.test.view.sign.SignPadActivity" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.jqorz.test.js.WebViewActivity" />

        <activity android:name="com.jqorz.test.view.multi_touch.MultiTouchActivity" />
        <activity android:name="com.jqorz.test.view.write.WriteActivity" />
        <activity android:name="com.jqorz.test.videoServer.VideoActivity" />
        <activity android:name="com.jqorz.test.view.click.ClickActivity" />
        <activity android:name="com.jqorz.test.servlet.ServletActivity" />
        <activity android:name="com.jqorz.test.view.finger.FingerPointPaint" />
        <activity android:name="com.jqorz.test.view.finger.FingerLinePaint" />
        <activity android:name="com.jqorz.test.view.anim.AnimActivity" />
        <activity android:name="com.jqorz.test.library.xwalk.AppTemplateActivity" />
        <activity android:name="com.jqorz.test.library.xwalk.XWalkActivity" />
        <activity android:name="com.jqorz.test.framework.wifi.WifiConnectActivity" />
        <activity android:name="com.jqorz.test.view.videoview.VideoViewActivity" />
        <activity android:name="com.jqorz.test.view.videoview.SelectActivity" />
        <activity android:name="com.jqorz.test.view.videoview.WebViewPlayActivity" />
        <activity android:name="com.jqorz.test.view.webview.WebViewActivity" />
        <activity android:name=".basemodule.broadcast.SendBroadActivity" />
        <activity android:name="com.jqorz.test.framework.wifi.KtWifiInfoActivity" />
        <activity android:name="com.jqorz.test.library.gson.GsonTestActivity" />
        <activity android:name="com.jqorz.test.hfutwlan.HfutWlanMainActivity" />
        <activity android:name="com.jqorz.test.view.dashboard.DashActivity" />
        <activity
            android:name="com.jqorz.test.windows.floatView.ControlActivity"
            android:theme="@style/NoAnim" />

        <receiver
            android:name=".basemodule.broadcast.MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.jqorz.test.basemodule.activity.rotate.RotateActivity1"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jqorz.test.basemodule.activity.rotate.RotateActivity2"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity android:name="com.jqorz.test.windows.popup.PopupActivity" />
        <activity android:name=".framework.mac.MacActivity" />
        <activity android:name="com.jqorz.test.framework.themeAttr.ThemeActivity" />
        <activity android:name="com.jqorz.test.basemodule.service.aidl.AIDLActivity" />
        <activity android:name="com.jqorz.test.jni.JniActivity" />
        <activity android:name="com.jqorz.test.view.webview.WebView2Activity" />
        <activity android:name="com.jqorz.test.view.webview.WebView3Activity" />
        <activity android:name="com.jqorz.test.fundot.FundotActivity" />
        <activity android:name="com.jqorz.test.io.file_concat.FileConcatActivity" />
        <activity android:name="com.jqorz.test.library.coil.CoilTestActivity" />
        <activity android:name="com.jqorz.test.thread.crash.CrashActivity" />
        <activity android:name="com.jqorz.test.framework.networkstate.NetworkStateActivity" />
        <activity android:name=".framework.thread.ThreadTestActivity" />
        <activity android:name=".basemodule.service.ServiceTestActivity" />
        <activity
            android:name=".basemodule.activity.life.LifeTest2Activity"
            android:label="LifeTest2Activity"
            android:taskAffinity=".a" />
        <activity
            android:name=".basemodule.activity.life.LifeTestActivity"
            android:label="LifeTestActivity" />
        <activity android:name=".basemodule.service.messenger.MessengerClintActivity" />

        <provider
            android:name="com.jqorz.test.fundot.FundotProvider"
            android:authorities="com.p4bu.packageprovider"
            android:exported="true" />

        <provider
            android:name="com.jqorz.test.basemodule.content_provider.UserInfoProvider"
            android:authorities="com.datedu.launcher.provider"
            android:exported="true"
            android:readPermission="com.datedu.launcher.provider.READ"
            android:writePermission="com.datedu.launcher.provider.WRITE" />

        <service android:name=".basemodule.service.TestService" />
        <service
            android:name=".basemodule.service.messenger.Messenger1Service"
            android:process=":test" />
    </application>


</manifest>